# AXIOM_DOMAIN=api.axiom.co
# API_TOKEN=xaat-e0203787-768e-428c-99bc-9b7901040ad3
# DATASET_NAME=indieauth-logs

HACKCLUB_OAUTH_CLIENT_ID=
HACKCLUB_OAUTH_CLIENT_SECRET=

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

CODEBERG_OAUTH_CLIENT_ID=
CODEBERG_OAUTH_CLIENT_SECRET=
