# Codeberg OAuth
NEXT_PUBLIC_CODEBERG_OAUTH_CLIENT_ID=
CODEBERG_OAUTH_CLIENT_SECRET=

# GitHub OAuth
NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# HackClub OAuth (currently disabled)
NEXT_PUBLIC_HACKCLUB_OAUTH_CLIENT_ID=
HACKCLUB_OAUTH_CLIENT_SECRET=
